[submodule "onsp_free_bundle"]
	path = onsp_free_bundle
	url = ssh://git@gitlab.open-net.ch:26/ons/onsp_free_bundle.git
	branch = 15.0
[submodule "partner-contact"]
	path = partner-contact
	url = ssh://git@gitlab.open-net.ch:26/oca/partner-contact.git
	branch = 15.0
[submodule "server-ux"]
	path = server-ux
	url = ssh://git@gitlab.open-net.ch:26/oca/server-ux.git
	branch = 15.0
[submodule "reporting-engine"]
	path = reporting-engine
	url = ssh://git@gitlab.open-net.ch:26/oca/reporting-engine.git
	branch = 15.0
[submodule "account-financial-reporting"]
	path = account-financial-reporting
	url = ssh://git@gitlab.open-net.ch:26/oca/account-financial-reporting.git
	branch = 15.0
